.inside {
	display: block;
	z-index: 1;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	width: 4%;
	height: 2%;
	transition: all 1s .4s, background .5s 0s;
	transform: translateZ(0);
}
.inside1 {
	background: #BE3C50;
	left: 41%;
}
.inside1:hover {
	cursor: pointer;
	background-color:#A02338;
}
.title1 {
	background: #BE3C50;
}
.inside2 {
	background: #5AC8C3;
	left: 52%;
}
.inside2:hover{
	cursor: pointer;
	background-color:#3C9EAF;
}
.title2 {
	background: #5AC8C3;
}
.inside3 {
	background: #FAE182;
	left: 63%;
}
.inside3:hover {
	cursor: pointer;
	background-color:#FCB96E;
}
.title3 {
	background: #FAE182;
}
.inside4 {
	background: #036EB8;
	left: 74%;	
}
.inside4:hover {
	cursor: pointer;
	background-color:#00559B;
}
.title4 {
	background: #036EB8;
}
.inside5 {
	background: #FA9B7D;
	left: 85%;	
}
.inside5:hover {
	cursor: pointer;
	background-color:#EE7D73;
}
.title5 {
	background: #FA9B7D;
}
.inside6 {
	background: #419173;
	left: 96%;	
}
.inside6:hover {
	cursor: pointer;
	background-color:#006446;
}
.title6 {
	background: #419173;
}
.content > span {
	position: absolute;
	display: block;
	font-family: Courier;
	font-size: 55pt;
	color: #eceff3;
	height: 90px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 5%;
}
.content > span::after {
	display: block;
	width: 0;
	content: '';
	border-radius: 10px;
	margin-top: -5px;
	border-bottom: 4px solid #eceff3;
	transition: width .5s;
}
.about_block {
	width: 100%;
	height: 100%;
	z-index: 5;
	position: absolute;
	background: #eceff3;
//	left: -100%;
	transform: translate(-100%);
	transition: transform .7s;
//	transform: translateZ(0);
}
.about_add {
    transform: translate(0%);
	transition: transform .7s;
}
.about_content {
	height: 40%;
	width: 60%;
	position: absolute;
	display: block;
	color: #000;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.about_content > span {
	font-size: 16pt;
	width: 50%;
	float: right;
	position: absolute;
	right: 0;
	bottom: 0;
}
.about_content img {
	max-width: 50%;
	max-height: 100%;
	float: left;
	box-shadow: -10px 10px 20px #e5e5e5;
}
.spot_title {
	width: 100%;
	height: 12%; 
	position: absolute;
	text-align: center;
}
.spot_title span{
	position: absolute;
	font-family: Nunito;
	font-size: 30pt;
	color: #fff;
	height: 50px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.spot_content {
	position: absolute;
	top: 12%;
	left: 0;
	padding: 3%;
}
.spot_content img {
	width: 100%;
	padding-bottom: 2%;
}
.spot_content_column {
	column-count: 2;
	column-gap: 5%;
}
.content {
	width: 70%;
	height: 70%;
	background: none;
	position: absolute;
	z-index: 1;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.add {
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transition-delay: 0s;
	transform: translateZ(0);
}
.x {
	background: none;
	height: 25px;
	width: 50px;
	padding-top: 25px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 3%;
	z-index: 99;
}
.x:hover, .about_x:hover {
	cursor: pointer;
}
.x :nth-child(1), .x :nth-child(2), .about_x :nth-child(1), .about_x :nth-child(2) {
	height: 3px;
	width: 50px;
	border-radius: 10px;
	background: #000;
	margin-top: 0px;
	transition: all 0.5s;
}
.x :nth-child(1), .about_x :nth-child(1) {
	transform: rotate(45deg);
}
.x :nth-child(2), .about_x :nth-child(2){
	transform: rotate(-45deg);
	margin-top: -3px;
}
.x:hover.x :nth-child(1), .x:hover.x :nth-child(2), .about_x:hover :nth-child(1), .about_x:hover :nth-child(2) {
	background: #fff;
}
